@use "../_global" as *;
@use "../_functions" as *;

.card {
  background-color: $primary-clr--light;
  border-radius: rem(12);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: rem(24);
  padding: rem(16);
  text-align: left;
}

.image {
  border-radius: rem(10);
  display: block;
  height: auto;
  width: 100%;
}

.star {
  color: $primary-clr;
  &_filled {
    color: $oxford-blue-3;
  }
}

.meta {
  font-size: rem(14);
  margin-top: rem(16);
  &_entry {
    background-color: shade($primary-clr--light, 15%);
    border-radius: rem(8);
    column-gap: rem(8);
    display: grid;
    padding: rem(12);
    row-gap: rem(4);

    &_single {
      display: block;

      .meta_key {
        margin-right: rem(8);
      }
    }

    & + & {
      margin-top: rem(8);
    }
  }

  &_entry:first-child {
    grid-template-columns: 1fr auto;
  }

  &_rating {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  &_key {
    font-weight: 600;
  }
}

.image {
  margin-bottom: rem(16);
}

.title {
  text-align: center;
}
