@use "../_global" as *;
@use "../_functions" as *;

.card {
  background-color: $white;
  border-radius: rem(12);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: rem(16);
}

.image {
  border-radius: rem(10);
  display: block;
  height: auto;
  width: 100%;
}
