@use "../_global" as *;
@use "../_functions" as *;

/* this code is lifted from InHuOfficial */
.hideVisual,
.starRatings > input {
  border: 0;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  width: 1px;
}

.starRatings {
  border: 0;
  display: inline-flex;
  font-size: 40px;
  padding: 0;
}

.starRatings:focus-within {
  outline: 3px solid #add8e6;
}

.starRatings label {
  cursor: pointer;
  line-height: 1em;
  text-align: center;
}

.starRatings label .star {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.starRatings > label {
  -webkit-text-stroke: 2px black;
}

.starRatings input:checked ~ label > span.star,
.starRatings > label:hover ~ input ~ label > span.star {
  color: #fff;
}

.starRatings span.star,
.starRatings:hover > input + label > span.star,
.starRatings > input:checked + label > span.star,
.starRatings > input ~ label:hover > span.star {
  color: gold;
}

.starRatings > input ~ label:hover > span.star,
.starRatings > input ~ label:focus > span.star {
  color: orange;
}
