@use "../../styles/global" as *;
@use "../../styles/functions" as *;
.container {
  background-color: $primary-clr--light;
  border-radius: rem(8);
  display: block;
  overflow: hidden;
  padding: rem(8);
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tab {
  background-color: shade($primary-clr--light, 25%);
  border: 0;
  color: rgba($white, 0.75);
  cursor: pointer;
  font-family: $body-ff;
  padding: rem(12);
  transition: background-color 0.2s;

  &Active {
    background-color: $primary-clr;
    color: $white;
    font-weight: 700;

    &:hover {
      background-color: $primary-clr !important;
    }
  }

  &:hover {
    background-color: shade($primary-clr--light, 15%);
  }

  &:first-child {
    border-radius: rem(8) 0 0 0;
  }

  &:nth-child(2) {
    border-radius: 0;
  }

  &:last-child {
    border-radius: 0 rem(8) 0 0;
  }

  svg {
    margin-left: rem(8);
  }
}

.content {
  background-color: $primary-clr;
  border-radius: 0 0 rem(8) rem(8);
  display: none;
  padding: rem(12);
}
