@use "../../styles/global" as *;
@use "../../styles/functions" as *;

.providers {
  display: grid;
  gap: rem(8);
}

.heading {
  color: $white;
  display: block;
  font-weight: 600;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8);
}

.link {
  border-radius: rem(12);
  display: block;
  height: rem(50);
  overflow: hidden;
  width: rem(50);

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}
