@use "./_global" as *;
@use "./functions" as *;
@forward "./_reset";
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@600;700;800&family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-clr--dark;
  color: $white;
  font-family: $body-ff;
  line-height: 1.2;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-family: $heading-ff;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: rem(32);
}

.container,
.fullWidth {
  --padding-inline: 2rem;
  --content-max-width: 80ch;
  color: $white;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.container > *,
.fullWidth > * {
  grid-column: content;
}

.container > .fullWidth {
  grid-column: full-width;
}

.container,
.fullWidth {
  --padding-inline: 2rem;
  --content-max-width: 75ch;
  color: $white;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.container > *,
.fullWidth > * {
  grid-column: content;
}

.container > .fullWidth {
  grid-column: full-width;
}

.container {
  margin: 0 auto;
  text-align: center;
}

img {
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

img.thumbnail {
  display: block;
  width: 100%;
}

.form-options {
  display: none;
}

.credits {
  margin-top: rem(16);
}

#root {
  display: grid;
  height: 100dvh;
  place-items: center;
  width: 100%;
}
