@use "./_global" as *;
@use "./functions" as *;
@forward "./_reset";
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@600;700;800&family=Inter:wght@300;400;500;600;700&display=swap");

body {
  background-color: $primary-clr--dark;
  color: $white;
  font-family: $body-ff;
  padding: rem(32);
}

h1,
h2,
h3 {
  font-family: $heading-ff;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: rem(32);
}

.container {
  margin: 0 auto;
  text-align: center;
}

button.btn {
  background-color: $secondary-clr;
  border: 0;
  border-radius: rem(12);
  color: shade($secondary-clr, 66%);
  cursor: pointer;
  font-family: $heading-ff;
  font-size: rem(18);
  font-weight: 700;
  margin-top: rem(24);
  padding: rem(12);
  text-transform: uppercase;
}

img.thumbnail {
  display: block;
  height: auto;
  width: 100%;
}

.form-options {
  display: none;
}
