@use "../../styles/global" as *;
@use "../../styles/functions" as *;

.outerContainer {
  background-color: rgba($black, 0.975);
  display: block;
  height: 100vh;
  left: 0;
  max-height: 100vh;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.container,
.fullWidth {
  --padding-inline: 2rem;
  --content-max-width: 75ch;
  color: $white;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.container > *,
.fullWidth > * {
  grid-column: content;
}

.container > .fullWidth {
  grid-column: full-width;
}

.closeWindow {
  --edge: 1rem;
  color: rgba($white, 0.33);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: var(--edge);
  top: var(--edge);
  z-index: 3;

  &:hover {
    color: $white;
  }
}

.backdrop {
  grid-row: 1 / 2;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  width: 100%;
}

.movieResult {
  grid-row: 1 / 2;
  margin: calc(var(--padding-inline) * 2) 0;
  text-align: left;
  z-index: 2;
}

.title {
  font-size: 2.5rem;
}

.meta {
  display: flex;
  font-size: rem(15);
  margin-top: 0.25rem;

  &Title {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &Group {
    flex-direction: column;
    margin-top: 0.75rem;

    &:first-of-type {
      margin-top: 0.5rem;
    }
  }

  &Info {
    gap: 0.75rem;
    margin-top: 0.25rem;
  }
}

.similarCard {
  background-color: $white;
  border-radius: rem(8);
  color: $primary-clr;
  overflow: none;
  padding: rem(8);

  &Img {
    border-radius: rem(8);
  }
}
