@use "../../styles/global" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.card {
  background-color: $primary-clr--light;
  border-radius: rem(16);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  font-size: rem(15);
  gap: rem(16);
  margin-bottom: rem(24);
  padding: rem(16);
}

.image {
  border-radius: rem(16);
  display: block;
  width: 100%;
}

.posterImage {
  display: none;
}

.title {
  font-size: rem(40);
}

.meta,
.overview {
  background-color: darken($primary-clr--light, 5%);
  border-radius: rem(8);
  overflow: hidden;
}

.metaItem,
.metaGenres,
.overview {
  padding: rem(12);
  text-align: left;
}

.metaItem,
.metaGenres {
  display: grid;
  gap: rem(8);
  grid-template-columns: 1.5fr 2fr;
}

.metaItem:nth-child(odd) {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaGenres {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaCrew > .metaItem:first-child {
  background-color: darken($primary-clr--light, 5%);
}

.metaCrew > .metaItem:nth-child(2) {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaTitle,
.overviewTitle {
  font-weight: 600;
}

.overview {
  display: grid;
  gap: rem(8);
}

.ctas {
  display: grid;
  gap: rem(8);
}

@include bp("small-lg") {
  .metaItem,
  .metaGenres {
    grid-template-columns: 1.5fr auto;
  }

  .metaDetails {
    background-color: $primary-clr--light;
    display: grid;
    gap: rem(8);
    grid-template-columns: 1fr 1fr;

    .metaItem {
      background-color: darken($primary-clr--light, 5%);
      border-radius: rem(8);
    }
  }

  .ctas {
    display: grid;
    gap: rem(8);
    grid-template-columns: 1fr 1fr;
  }

  .ctas button:only-child {
    grid-column: 1 / 3;
  }
}
