@use "../../styles/global" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

@use "../../styles/mixins" as *;

.card {
  background-color: $primary-clr--light;
  border-radius: rem(16);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  font-size: rem(15);
  gap: rem(16);
  margin-bottom: rem(24);
  padding: rem(16);
}

.image {
  border-radius: rem(8);
  display: block;
  width: 100%;
}

.posterImage {
  display: none;
}

.title {
  font-size: rem(40);
}

.meta {
  border-radius: rem(12);
  font-size: rem(14);
  overflow: hidden;
}

.metaGroup {
}

.metaItem,
.metaGenres,
.overview {
  padding: rem(12);
  text-align: left;
}

.metaItem,
.metaGenres {
  display: grid;
  gap: rem(8);
  grid-template-columns: 1.5fr 2fr;
}

.metaItem:nth-child(odd) {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaGenres {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaCrew > .metaItem:first-child {
  background-color: darken($primary-clr--light, 5%);
}

.metaCrew > .metaItem:nth-child(2) {
  background-color: darken($primary-clr--light, 7.5%);
}

.metaTitle,
.overviewTitle {
  font-weight: 600;
}

.overview {
  display: grid;
  gap: rem(8);
}

.ctas {
  display: grid;
  gap: rem(8);
}

.group {
  display: grid;
  gap: rem(16);
}

@include bp("small-lg") {
  .metaItem,
  .metaGenres {
    grid-template-columns: 1.5fr auto;
  }

  .metaDetails {
    background-color: $primary-clr--light;
    display: grid;
    gap: rem(8);
    grid-template-columns: 1fr 1fr;

    .metaItem {
      background-color: darken($primary-clr--light, 5%);
      border-radius: rem(8);
    }
  }

  .ctas {
    display: grid;
    gap: rem(8);
    grid-template-columns: 1fr 1fr;
  }

  .ctas button:only-child {
    grid-column: 1 / 3;
  }
}

@include bp("medium-lg") {
  .card {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, auto);
  }

  .backdropImage {
    display: none;
  }

  .posterImage {
    align-items: stretch;
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    max-height: rem(343);
    object-fit: cover;
  }

  .metaDetails {
    display: block;
    grid-column: 1 / 2;
    grid-row: 5 / 7;

    .metaItem {
      background-color: darken($primary-clr--light, 7.5%);
      border-radius: initial;

      &:nth-child(odd) {
        background-color: darken($primary-clr--light, 5%);
      }
    }
  }

  .title {
    line-height: 1;
    text-align: left;
  }

  .metaGenres {
    background-color: darken($primary-clr--light, 5%);
  }

  .metaCrew {
    line-height: 1;

    .metaItem:first-child {
      background-color: darken($primary-clr--light, 7.5%);
    }

    .metaItem:nth-child(2) {
      background-color: darken($primary-clr--light, 5%);
    }
  }

  .overview {
    background-color: darken($primary-clr--light, 7.5%);
  }

  .group {
    align-self: start;
    column-gap: 0;
    grid-row: 2 / 7;
  }

  .ctas {
    gap: rem(16);
  }
}

.posterImage {
  display: none;
}

@include bp("medium-lg") {
  .card {
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }

  .backdropImage {
    display: none;
  }

  .posterImage {
    display: block;
    grid-row: 1 / 4;
  }

  .metaGroup {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    .meta {
      margin-top: 0;
    }
  }

  .title {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: left;
  }

  .overview {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .crewGroup {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    .metaCrew {
      margin-top: 0;
    }
  }
}
