@use "../../styles/global" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.outerContainer {
  background-color: transparent;
  border: 0;
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  overflow-y: auto;
  padding: 0;
  width: 100%;

  &::backdrop {
    background-color: rgba(darken($primary-clr, 50%), 0.975);
  }

  &[open] {
    animation: openModal 0.3s ease-in-out;
  }

  .close {
    animation: closeModal 0.3 ease-in-out;
  }
}

.container {
  background-color: transparent;
}

.container,
.fullWidth {
  --padding-inline: 2rem;
  --content-max-width: 75ch;
  color: $white;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.container > *,
.fullWidth > * {
  grid-column: content;
}

.container > .fullWidth {
  grid-column: full-width;
}

.closeWindow {
  --edge: 1rem;
  color: rgba($white, 0.75);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: var(--edge);
  top: var(--edge);
  transition: color 0.3s;
  z-index: 3;

  &:hover {
    color: $secondary-clr;
  }

  @include bp("large") {
    --edge: 2rem;
  }
}

.backdrop {
  grid-row: 1 / 2;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  width: 100%;

  @include bp("medium") {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    );
  }
}

.movieResult {
  grid-row: 1 / 2;
  margin: calc(var(--padding-inline) * 2) 0;
  text-align: left;
  z-index: 2;
}

.title {
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
}

.meta {
  display: flex;
  font-size: rem(15);
  margin-top: 0.25rem;
  @include bp("medium") {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
  }

  &Title {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &Group {
    flex-direction: column;
    margin-top: 0.75rem;

    &:first-of-type {
      margin-top: 0.5rem;
    }
  }

  &Info {
    gap: 0.75rem;
    margin-top: 0.25rem;
  }

  &Providers {
    margin-top: 2rem;

    .metaTitle {
      display: block;
      margin-bottom: rem(12);
    }
  }

  &Trailer {
    margin-top: 2rem;
  }

  &Similar {
    margin-top: 1.5rem;

    .metaTitle {
      display: block;
      margin-bottom: rem(12);
    }
  }
}

.star {
  color: rgba($white, 0.5);
}

.starFilled {
  color: $accent-clr;
}

.similarCard {
  background-color: $white;
  border-radius: rem(8);
  color: $primary-clr;
  overflow: none;
  padding: rem(8);

  &Img {
    border-radius: rem(8);
  }
}

.trailerButton {
  background-color: $accent-clr;
  border-radius: rem(8);
  color: $primary-clr;
  display: block;
  font-family: $heading-ff;
  font-weight: 700;
  padding: rem(12);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s, background-color 0.5s;
  width: fit-content;

  &:hover {
    background-color: $secondary-clr;
    color: $white;
  }
}

.credit {
  color: rgba($primary-clr--lightest, 0.75);
  font-size: rem(14);
  margin-top: rem(24);
  text-align: center;

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $accent-clr;
    }
  }
}
