@use "../../styles/global" as *;
@use "../../styles/functions" as *;

.watchTrailer {
  background-color: shade($primary-clr--light, 30%);
  border: 0;
  border-radius: rem(12);
  color: $white;
  font-family: $heading-ff;
  font-size: rem(18);
  font-weight: 700;
  padding: rem(12);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  svg {
    margin-left: rem(8);
  }
}
