@use "../../styles/global" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.card {
  background-color: rgba($primary-clr, 0.75);
  border-radius: rem(8);
  overflow: hidden;
  padding: rem(8);
}

.posterImage {
  border-radius: rem(8);
}

.title {
  display: block;
  font-family: $heading-ff;
  font-weight: 700;
  line-height: 1;
  margin-top: rem(8);
  text-align: center;
  text-transform: uppercase;
}

.swiper-container {
  @include bp("medium") {
    background-color: rgba(darken($primary-clr, 10%), 0.75);
    border-radius: rem(8);
    padding: rem(8);
  }

  &::part(pagination) {
    margin-top: rem(8);
    position: static;
  }

  &::part(bullet) {
    background-color: $white;
  }

  &::part(bullet-active) {
    background-color: $accent-clr;
  }
}
